---
import { string } from "astro/zod";
import Button from "./Button.astro";

interface Props {
  dataHeaderColor: string;
  textButton: string;
  textButtonHover: string;
  buttonBg: string;
  img: string;
  imgVertical: string;
  dataNavColor: string;
  title: string;
  subtitle: string;
}

const {
  dataHeaderColor,
  dataNavColor,
  textButton,
  textButtonHover,
  buttonBg,
  img,
  imgVertical,
  title,
  subtitle,
} = Astro.props;
---

<section
  class="landing-section h-screen w-screen text-center overflow-hidden relative bg-black"
  data-header-color={dataNavColor}
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class=`${dataHeaderColor} pt-40 text-5xl font-medium`>{title}</h2>

      <strong class=`${dataHeaderColor} text-2xl`>{subtitle}</strong>

      <p class=`text-sm ${dataHeaderColor}`>
        After Federal Tax Credit & Est. Gas Savings
      </p>
    </header>

    <footer class="flex justify-center flex-grow pb-24">
      <div class="flex justify-center gap-x-4 mt-[auto] backdrop-blur-lg">
        <Button
          textButton={textButton},
          buttonBg={buttonBg},
          textButtonHover={textButtonHover}
        />
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      class="object-center object-cover h-full w-full"
      src={img}
      alt="Image of the car"
    />
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      class="sm:hidden display-block object-center object-cover h-full w-full"
      src={imgVertical}
      alt="Image of the car"
    />
  </div>
</section>
